.sceneRoot {
  position: relative;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
  background-color: #02040a;
  opacity: 0;
}

.particlesWrapper {
  position: absolute;
  inset: 0;
  z-index: 30;
}